<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Error {{ status_code }}!{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    {% block stylesheets %}
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="{{ asset('css/fonts.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/pages/css/error.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<!-- END HEAD -->

<body class="page-500-full-page">

<div class="row">
    <div class="col-md-12 page-500">
        <div class=" number font-red"> {{ status_code }} </div>
        <div class=" details">
            {% block errorDetails %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>