{% extends "@App/base.html.twig" %}
{% set pageTitle = 'Additional Budget Demand' %}
{% block page_title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}
    {% trans_default_domain 'SgDatatablesBundle' %}
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-list-page">
        <div class="col-sm-12">
            {% include '@App/layout-component/flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ pageTitle }}</span>
                    </div>
                </div>
                <div class="portlet-body">


                    <table class="table table-striped table-bordered table-hover table-header-fixed table-checkable order-column">
                        <thead>
                        <tr>
                            <th>SL</th>
                            <th>Code</th>
                            <th>Account Head</th>
                            <th>Budget {{ budgetYear }}-{{ budgetYear + 1 }}</th>
                            <th>Revise Budget {{ budgetYear }}-{{ budgetYear + 1 }}</th>
                            <th>Expense Amount</th>
                            <th>Request Amount</th>
                            <th>Remarks</th>
                        </tr>
                        </thead>
                        <tbody id="budgetDetailsContainer" data-prototype="
                    {% filter escape %}
                    {{ include('@Budget/FundRequest/budget-detail-protptype.html.twig') }}
                    {% endfilter %}">

                        {% set sl = 1 %}

                        {% for i, budgetDetail in budget.budgetDetails %}
                            {{ include('@Budget/FundRequest/budget-detail-protptype.html.twig', {readOnly: true}) }}
                            {% set sl = sl + 1 %}
                        {% endfor %}
                        </tbody>

                    </table>

                    <div class="form-actions margin-top-20">
                        {% block workflow_content %}
                            <div class="row">
                                <div class="col-md-12 text-right">

                                    {% if is_granted('edit:fund_request:draft', budget) %}
                                        <a class="btn btn-primary" href="{{ path('budget_fund_request_update', {id: budget.id}) }}">Edit</a>
                                    {% endif %}

                                    {% include '@Budget/CommonViewBlock/_workflow_action.html.twig' with {entity: budget, workflow_name: 'fund_request', entityClass: 'BudgetBundle:FundRequest', title: 'Fund Request'} %}
                                </div>

                                {% include '@Budget/CommonViewBlock/_workflow_comments.html.twig' with {remarks: budget.stepRemarks} %}

                            </div>
                        {% endblock workflow_content %}
                    </div>

                </div>
            </div>
        </div>

    </div>


    <!-- END PAGE CONTENT INNER -->
{% endblock %}

{% block include_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/budget/js/fund_request.js') }}"></script>
{% endblock include_javascripts %}

{% block document_ready %}
    {{ parent() }}
    FundRequest.init();
{% endblock %}