{% extends "@App/base.html.twig" %}
{% set pageTitle = 'Budget Amendment' %}
{% block page_title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}
    {% trans_default_domain 'SgDatatablesBundle' %}
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-list-page">
        <div class="col-sm-12">
            {% include '@App/layout-component/flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ pageTitle }}</span>
                    </div>
                </div>
                <div class="portlet-body">

                    <form action="{{ path('budget_amendment_update', {id: budgetSummary.id}) }}" method="post" class="budget-form">

                        <div class="row">
                            <div style="overflow: scroll">
                                <table class="table table-striped table-bordered table-hover table-header-fixed table-checkable order-column">
                                    <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Code</th>
                                        <th>Account Head</th>
                                        <th class="text-right">Sanction Amount</th>
                                        <th class="text-right">Distributed Amount</th>
                                        <th class="text-right">Remaining Amount</th>
                                        <th class="text-right">Amendment Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set sl = 1 %}
                                    {% for parentHead in budgetHead %}
                                        <tr class="odd gradeX">
                                            <td colspan="7" style="background-color: #c1cbd0"><strong>{{ parentHead.titleEn }}</strong></td>
                                        </tr>

                                        {% for childHead in parentHead.child %}
                                            <tr class="odd gradeX">
                                                <td width="50">{{ sl }}</td>
                                                <td width="80">{{ childHead.code }}</td>
                                                <td>{{ childHead.titleEn }}</td>
                                                <td class="text-right sanction-amount" width="150">{{ budgetAmount['data'][childHead.id]['sanctionAmount']|default('')|number_format() }}</td>
                                                <td class="text-right distributed-amount" width="150">{{ budgetAmount['data'][childHead.id]['distributedAmount']|default('')|number_format() }}</td>
                                                <td class="text-right remaining-amount" width="150">{{ budgetAmount['data'][childHead.id]['remainingAmount']|default('')|number_format() }}</td>
                                                <td class="text-right" width="150">
                                                    <input class="amount form-control input-small"
                                                           data-original-title="Amount should be greater then distributed amount"
                                                           type="text"
                                                           name="amendment-request[{{ budgetAmount['data'][childHead.id]['id']|default(0) }}]"
                                                           value="{{ budgetAmount['data'][childHead.id]['amendmentRequestAmount']|default(budgetAmount['data'][childHead.id]['sanctionAmount']|default(0)) }}">
                                                </td>
                                            </tr>
                                            {% set sl = sl + 1 %}
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>

                                    <tr>
                                        <th colspan="3"></th>
                                        <th class="total-sanction-amount">{{ budgetAmount['total']['sanctionAmount']|default(0)|number_format()}}</th>
                                        <th class="total-distribute-amount">{{ budgetAmount['total']['distributedAmount']|default(0)|number_format()}}</th>
                                        <th class="total-remaining-amount">{{ budgetAmount['total']['remainingAmount']|default(0)|number_format()}}</th>
                                        <th class="text-right total-amount"></th>
                                    </tr>
                                </table>

                            </div>
                        </div>

                        <div class="form-actions margin-top-20">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button type="submit" class="btn yellow" name="save" value="yes">Save</button>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('budget_amendment_update') }}">
                        <input type="hidden" name="_referrer" value="{{ app.request.server.get('HTTP_REFERER')|default(path('budget_summary_list')) }}">
                    </form>

                </div>
            </div>
        </div>

    </div>


    <!-- END PAGE CONTENT INNER -->
{% endblock %}

{% block include_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/budget/js/dasb_budget.js') }}"></script>
    <script src="{{ asset('bundles/budget/js/amendment.js') }}"></script>
{% endblock include_javascripts %}

{% block document_ready %}
    {{ parent() }}
    DASBBudget.updateInit();
    Amendment.init();
{% endblock %}