<table class="table width-100 margin-bottom-10">
    <tbody>
    <tr class="text-center">
        <td rowspan="3">জনবল ও <br>অফিস সরঞ্জাম</td>
        <td colspan="5">জনবল</td>
        <td colspan="3">আনুষংগিক প্রতিষ্ঠান</td>
        <td colspan="5">যানবাহন</td>
        <td colspan="2">টেলিফোন</td>
        <td colspan="3">অন্যান্য অফিস সরঞ্জাম</td>
    </tr>
    <tr class="text-center">
        <td colspan="2">কর্মকর্তা</td>
        <td colspan="2">কর্মচারী</td>
        <td rowspan="2" width="50">মোট</td>
        <td rowspan="2">কন্টিনজেন্ট</td>
        <td rowspan="2">ওয়ার্কচার্জড</td>
        <td rowspan="2" width="50">মোট</td>
        <td rowspan="2">পিকআপ</td>
        <td rowspan="2">মটর সাইকেল</td>
        <td rowspan="2" width="50">জীপ</td>
        <td rowspan="2" width="50">কার</td>
        <td rowspan="2">অন্যান্য/বাই সাইকেল</td>
        <td rowspan="2" width="50">দাপ্তরিক</td>
        <td rowspan="2" width="50">আবাসিক</td>
        <td rowspan="2" width="50">ফ্যাক্স</td>
        <td rowspan="2">কম্পিউটার</td>
        <td rowspan="2">ফটোকপিয়ার</td>
    </tr>
    <tr class="text-center">
        <td>১ম শ্রেণী</td>
        <td>২য় শ্রেণী</td>
        <td>৩য় শ্রেণী</td>
        <td>৪র্থ শ্রেণী</td>
    </tr>
    <tr>
        <td>১ অনুমোদিত</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>২. বিদ্যমান</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>২.১ পুরুষ</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>২.২ মহিলা</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>

<div class="underline margin-bottom-10">সুবিধাভোগী</div>
<table class="table">
    <tr class="text-center">
        <td width="120">সুবিধাভোগীর ধরন</td>
        <td width="100">মোট</td>
        <td width="100">পুরুষ</td>
        <td width="100">মহিলা</td>
    </tr>
    <tr>
        <td class="text-right">০</td>
        <td class="text-right">০</td>
        <td class="text-right">০</td>
        <td class="text-right">০</td>
    </tr>
</table>
<div class="text-right margin-bottom-5">
    <span class="border-bottom">অংক সমুহ হাজার টাকায় প্রকাশ</span>
</div>
<table class="table width-100">

    <thead>
    <tr class="text-center">
        <th rowspan="2" width="20">অর্থনৈতিক <br>কোড</th>
        <th rowspan="2" width="150">বিবরণ</th>
        <th colspan="5">প্রকৃত ব্যয়</th>
        <th rowspan="2" width="70">বাজেট <br>{{ financialYearLabel(year)|bn_number }}</th>
        <th rowspan="2" width="70">প্রস্তাবিত সংশোধিত <br>{{ financialYearLabel(year)|bn_number }}</th>
        <th rowspan="2" width="300">হ্রাস/বৃদ্ধির কারণ</th>
    </tr>
    <tr class="text-center">
        <th width="70">{{ financialYearLabel(year - 2)|bn_number }}</th>
        <th width="70">{{ financialYearLabel(year - 1)|bn_number }}</th>

        <th width="70">১ম ৬ মাস <br/>{{ financialYearLabel(year - 2)|bn_number }}</th>
        <th width="70">১ম ৬ মাস <br/>{{ financialYearLabel(year - 1)|bn_number }}</th>
        <th width="70">১ম ৩ মাস <br/>{{ financialYearLabel(year)|bn_number }}</th>
    </tr>
    <tr class="text-center">
        <td>১</td>
        <td>২</td>
        <td>৩</td>
        <td>৪</td>
        <td>৫</td>
        <td>৬</td>
        <td>৭</td>
        <td>৮</td>
        <td>৯</td>
        <th>১০</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td class="text-center">রাজস্ব ব্যয়</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% set sl = 1 %}
    {% for parentHead in budgetHead %}
        <tr>
            <td></td>
            <td class="text-right bold" style="text-align: left">{{ parentHead.titleEn }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        {% for childHead in parentHead.child %}
            <tr>
                <td class="text-right">{{ childHead.code|bn_number }}</td>
                <td>{{ childHead.titleEn }}</td>
                <td class="text-right">{{ expenses['beforePrev']['total'][childHead.id]|default(0)|encodeBudgetAmount|bn_number_format }}</td>
                <td class="text-right">{{ expenses['prev']['total'][childHead.id]|default(0)|encodeBudgetAmount|bn_number_format }}</td>
                <td class="text-right">{{ expenses['beforePrev1stSixMonth']['total'][childHead.id]|default(0)|encodeBudgetAmount|bn_number_format }}</td>
                <td class="text-right">{{ expenses['prev1stSixMonth']['total'][childHead.id]|default(0)|encodeBudgetAmount|bn_number_format }}</td>
                <td class="text-right">{{ expenses['current']['total'][childHead.id]|default(0)|encodeBudgetAmount|bn_number_format }}</td>
                <td class="text-right">{{ budgetInfo['head'][childHead.id]['sanctionAmount']|default(0)|bn_number_format }}</td>
                <td class="text-right">{{ amendmentInfo['head'][childHead.id]['amendmentSanctionAmount']|default(0)|bn_number_format }}</td>
                <td></td>
            </tr>
            {% set sl = sl + 1 %}
        {% endfor %}
        <tr class="bold">
            <th colspan="2">উপ-মোট</th>
            <th class="text-right">{{ expenses['beforePrev']['subTotal'][parentHead.id]|default(0)|encodeBudgetAmount|bn_number_format }}</th>
            <th class="text-right">{{ expenses['prev']['subTotal'][parentHead.id]|default(0)|encodeBudgetAmount|bn_number_format }}</th>
            <th class="text-right">{{ expenses['beforePrev1stSixMonth']['subTotal'][parentHead.id]|default(0)|encodeBudgetAmount|bn_number_format }}</th>
            <th class="text-right">{{ expenses['prev1stSixMonth']['subTotal'][parentHead.id]|default(0)|encodeBudgetAmount|bn_number_format }}</th>
            <th class="text-right">{{ expenses['current']['subTotal'][parentHead.id]|default(0)|encodeBudgetAmount|bn_number_format }}</th>
            <th class="text-right">{{ budgetInfo['parentHead'][parentHead.id]['sanctionAmount']|default(0)|bn_number_format }}</th>
            <th class="text-right">{{ amendmentInfo['parentHead'][parentHead.id]['amendmentSanctionAmount']|default(0)|bn_number_format }}</th>
            <th></th>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="bold">
        <th colspan="2">সর্বমোট ব্যয়</th>
        <th class="text-right">{{ expenses['beforePrev']['grandTotal']|default(0)|encodeBudgetAmount|bn_number_format }}</th>
        <th class="text-right">{{ expenses['prev']['grandTotal']|default(0)|encodeBudgetAmount|bn_number_format }}</th>
        <th class="text-right">{{ expenses['beforePrev1stSixMonth']['grandTotal']|default(0)|encodeBudgetAmount|bn_number_format }}</th>
        <th class="text-right">{{ expenses['prev1stSixMonth']['grandTotal']|default(0)|encodeBudgetAmount|bn_number_format }}</th>
        <th class="text-right">{{ expenses['current']['grandTotal']|default(0)|encodeBudgetAmount|bn_number_format }}</th>
        <th class="text-right">{{ budgetInfo['totalAmount']['sanctionAmount']|default(0)|bn_number_format }}</th>
        <th class="text-right">{{ amendmentInfo['totalAmount']['amendmentSanctionAmount']|default(0)|bn_number_format }}</th>
        <th class="text-right"></th>
    </tr>
    </tfoot>
</table>
