{% extends is_granted("BOARD_MEETING")
? '@App/base-meeting.html.twig'
: '@App/base.html.twig' %}

{% set pageTitle = 'BSCR Application' %}
{% block page_title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}
    {% trans_default_domain 'SgDatatablesBundle' %}
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-list-page">
        <div class="col-sm-12">

            {% include '@App/layout-component/flash.html.twig' %}

            <div class="portlet light">

                <div class="portlet-body">
                    <div class="col-md-12  hidden-print">
                        <div class="form-actions margin-top-20">
                            <div class="row">
                                <div class="col-md-12 text-right">

                                    {% if task is not defined and not is_granted("BOARD_MEETING") %}
                                        <a class="btn btn-primary" href="{{ path('welfare_bscr_index') }}">Go to BSCR Register</a>
                                    {% endif %}

                                    {% if (is_granted('ROLE_DASB_CLERK') and 'draft' == application.status) %}
                                        <a class="btn btn-primary" href="{{ path('welfare_bscr_edit', {id: application.id}) }}">Edit</a>
                                    {% endif %}

                                    {% include '@Budget/CommonViewBlock/_workflow_action.html.twig' with {entity: application, workflow_name: 'welfare_bscr_application', entityClass: 'WelfareBundle:BSCRApplication', title: 'BSCR Workflow'} %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 profile-content app-form-view">
                        {{ formTemplate|raw }}
                    </div>
                    <div class="col-md-12 hidden-print">
                        {% include '@Budget/CommonViewBlock/_workflow_comments.html.twig' with {remarks: application.stepRemarks} %}
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- END PAGE CONTENT INNER -->
{% endblock %}