<td class="sn">{{ i|default('') }}</td>
<td class="form-group">{{ form_widget(form.achievement) }}</td>
<td class="form-group">{{ form_widget(form.date) }}</td>
<td class="form-group">{{ form_widget(form.remarks) }}</td>
<td width="20px"><a class="remove" data-server="{{ server|default('') }}" href="javascript;"><i class="fa fa-close btn btn-xs red"></i></a></td>