<td class="form-group">{{ form_widget(form.degree) }}</td>
<td class="form-group">{{ form_widget(form.institution) }}</td>
<td class="form-group">{{ form_widget(form.educationType) }}</td>
<td class="form-group">{{ form_widget(form.grade) }}</td>
<td class="form-group">{{ form_widget(form.passingYear) }}</td>
<td width="20px"><a class="remove" data-server="{{ server|default('') }}" href="javascript;"><i class="fa fa-close btn btn-xs red"></i></a></td>