<td class="sn">{{ i|default('') }}</td>
<td class="form-group">{{ form_widget(form.unit) }}</td>
<td class="form-group">{{ form_widget(form.fromDate) }}</td>
<td class="form-group">{{ form_widget(form.toDate) }}</td>
<td class="form-group">{{ form_widget(form.class) }}</td>
<td width="20px"><a class="remove" data-server="{{ server|default('') }}" href="javascript;"><i class="fa fa-close btn btn-xs red"></i></a></td>