<td class="form-group">{{ form_widget(form.name) }}</td>
<td class="form-group">{{ form_widget(form.relationType) }}</td>
<td class="form-group">{{ form_widget(form.nokPercentage) }}</td>
<td class="form-group">{{ form_widget(form.dateOfBirth) }}</td>
<td class="form-group">{{ form_widget(form.nidOrBirthCertificate) }}</td>
<td class="form-group">{{ form_widget(form.mobileNumber) }}</td>
<td class="form-group">{{ form_widget(form.occupation) }}</td>
<td class="form-group">{{ form_widget(form.address) }}</td>
<td width="20px"><a class="remove" data-server="{{ server|default('') }}" href="javascript;"><i class="fa fa-close btn btn-xs red"></i></a></td>