<td class="form-group">{{ form_widget(form.name) }}</td>
<td class="form-group">{{ form_widget(form.affectedDate) }}</td>
<td class="form-group">{{ form_widget(form.provingBy) }}</td>
<td class="form-group">{{ form_widget(form.treatment) }}</td>
<td class="form-group">{{ form_widget(form.remark) }}</td>
<td width="20px"><a class="remove" data-server="{{ server|default('') }}" href="javascript;"><i class="fa fa-close btn btn-xs red"></i></a></td>