{% extends "@App/base.html.twig" %}
{% set pageTitle = 'Receive Entry' %}
{% block page_title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}

    <div class="row" id="volume-list-page">
        <div class="col-sm-12">
            {% include '@App/layout-component/flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">List of {{ pageTitle }}</span>
                    </div>

                        <div class="actions">
                            {% if is_granted('ROLE_ACCOUNT_CLERK') or is_granted('ROLE_DASB_CLERK') %}
                                <a class="btn green" data-toggle="modal" href="#receive-create-modal">
                                    <i class="fa fa-plus"></i> Create New Receive</a>

                                <div id="receive-create-modal" class="modal fade" tabindex="-1" data-width="500">
                                    {% include 'AccountBundle:ChequeIssue:_fund_type_modal.html.twig' with {title: 'Create new Receive Payment', route: 'account_sanction_receive_new'} %}
                                </div>
                            {% endif %}
                        </div>
                </div>
                <div class="portlet-body">

                    {{ sg_datatables_render_html(datatable) }}

                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block stylesheets  %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatable.css') }}">
{% endblock %}

{% block include_javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/datatable.js') }}"></script>

    {{ sg_datatables_render_js(datatable) }}

{% endblock %}