{% extends "@App/base.html.twig" %}
{% set pageTitle = 'Personnel Dashboard' %}
{% block page_title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block header_title %}{{ pageTitle }}{% endblock header_title %}

{% block body %}
            {% include '@App/layout-component/flash.html.twig' %}
            <div class="col-md-12">

                <div class="portlet box blue">

                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <span class="caption">Personnel Management</span>
                        </div>
                    </div>

                    <div class="portlet-body">

                    <div class="row">

                        {% if is_granted('ROLE_ESTABLISHMENT_CLERK') %}
                            <div class="col-lg-2 col-md-4 col-xs-12">
                                <div class="mt-element-ribbon bg-grey-steel">
                                    <div class="ribbon ribbon-color-default uppercase">Serving Military</div>
                                    <p class="ribbon-content text-right">
                                        <a href="{{ path('serving_military_list') }}" class="btn btn-success">View</a>
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                        {% if is_granted('ROLE_ESTABLISHMENT_CLERK') %}
                            <div class="col-lg-2 col-md-4 col-xs-12">
                                <div class="mt-element-ribbon bg-grey-steel">
                                    <div class="ribbon ribbon-color-default uppercase">Serving Civilian</div>
                                    <p class="ribbon-content text-right">
                                        <a href="{{ path('serving_civilian_list') }}" class="btn btn-success">View</a>
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

        <div class="portlet box yellow">

            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption">Reports</span>
                </div>
            </div>

            <div class="portlet-body">

                <div class="row">
                    {% if is_granted('ROLE_ESTABLISHMENT_CLERK') %}
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-color-default uppercase">Serving Military</div>
                            <p class="ribbon-content text-right">
                                <a href="{{ path('personnel_report_personnel_serving_military') }}"
                                   class="btn btn-success btn-sm">View Report</a>
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    {% if is_granted('ROLE_ESTABLISHMENT_CLERK') %}
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-color-default uppercase">Serving Civilian</div>
                            <p class="ribbon-content text-right">
                                <a href="{{ path('personnel_report_personnel_serving_civilian') }}"
                                   class="btn btn-success btn-sm">View Report</a>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT INNER -->
{% endblock %}