<td class="sn">{{ i|default('') }}</td>
<td class="form-group">{{ form_widget(form.name) }}</td>
<td class="form-group">{{ form_widget(form.email) }}</td>
<td class="form-group">{{ form_widget(form.mobileNo) }}</td>
<td class="form-group">{{ form_widget(form.designation) }}</td>
<td class="form-group">{{ form_widget(form.chairman) }} </td>
<td><a class="remove" data-server="{{ server|default('') }}" href="javascript;"><i class="fa fa-close btn btn-xs red"></i></a></td>