<tr>
    <td class="text-center">{{ head.code|bn_number }}</td>
    <td>{{ head.titleEn }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>লক্ষ্যমাত্রা</td>
    <td class="text-right"><span class="total-head-{{ head.id }}-first"></span><input type="hidden" name="{{ type }}[{{ head.id ~'-first' }}]" class="total-head-{{ head.id }} total-head-{{ head.id }}-first" value="{{ reportData[type][head.id ~'-first']|default('') }}"></td>
    <td class="text-right"><span class="total-head-{{ head.id }}-second"></span><input type="hidden" name="{{ type }}[{{ head.id ~'-second' }}]" class="total-head-{{ head.id }} total-head-{{ head.id }}-second" value="{{ reportData[type][head.id ~'-second']|default('') }}"></td>
    <td class="text-right"><span class="total-head-{{ head.id }}-third"></span><input type="hidden" name="{{ type }}[{{ head.id ~'-third' }}]" class="total-head-{{ head.id }} total-head-{{ head.id }}-third" value="{{ reportData[type][head.id ~'-third']|default('') }}"></td>
    <td class="text-right"><span class="total-head-{{ head.id }}-fourth"></span><input type="hidden" name="{{ type }}[{{ head.id ~'-fourth' }}]" class="total-head-{{ head.id }} total-head-{{ head.id }}-fourth" value="{{ reportData[type][head.id ~'-fourth']|default('') }}"></td>
    <td class="text-right">{{ data['budgetInfo'][head.id]['amount']|default(0)|encodeBudgetAmount|bn_number_format }}</td>
    <td></td>
</tr>
<tr class="odd gradeX">
    <td></td>
    <td>প্রকৃত</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>