{% extends "@App/base.html.twig" %}
{% set pageTitle = 'Budget' %}
{% block page_title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}
    {% trans_default_domain 'SgDatatablesBundle' %}
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-list-page">
        <div class="col-sm-12">
            {% include '@App/layout-component/flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">List of {{ pageTitle }}s</span>
                    </div>
                    {% if is_granted(['ROLE_DASB_CLERK', 'ROLE_BUDGET_CLERK']) %}
                    <div class="actions">
                        <a class="btn green" data-toggle="modal" href="#responsive">
                            <i class="fa fa-plus"></i> Create New {{ pageTitle }}</a>
                    </div>
                    {% endif %}
                </div>
                <div class="portlet-body">
                    {{ sg_datatables_render_html(datatable) }}

                    <div id="responsive" class="modal fade" tabindex="-1" data-width="500">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">
                                {% if canCreateBudget %}
                                    Create A New Budget
                                {% else %}
                                    Warning
                                {% endif %}
                            </h4>
                        </div>
                        <form action="{{ path('budget_create') }}" method="post" class="form-inline">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {% if budget %}
                                            Budget for {{ budget.financialYear.label }} is already created and it's in {{ budget.status|humanize }} state.
                                        {% elseif canCreateBudget %}
                                            You are creating Budget for the financial year {{ financialYear.financialLabel(financialYear.id) }}. This Action cannot be undone.
                                        {% else %}
                                            Budget creation date expire or amendment not closed yet.
                                        {% endif %}
                                        <input type="hidden" value="new" name="type">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="button" data-dismiss="modal" class="btn btn-outline dark" value="Close">
                            {% if canCreateBudget and budget is null %}
                            <input type="submit" class="btn green submit-once" value="Save and Continue">
                            {% endif %}
                            {% if budget and budget.status == 'draft' %}
                                <a href="{{ path('budget_update', {id: budget.id}) }}" class="btn green">Edit</a>
                            {% endif %}
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- END PAGE CONTENT INNER -->
{% endblock %}

{% block stylesheets  %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatable.css') }}">
{% endblock %}

{% block include_javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/datatable.js') }}"></script>

    {{ sg_datatables_render_js(datatable) }}

{% endblock %}