<div class="row">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">Ex-Serviceman Information</div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label">Name: </label>
                    <label class="control-label-value">{{ personnel.name }}</label>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Personnel No.: </label>
                    <label class="control-label-value">{{ personnel.identityNumber }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label">Age: </label>
                    <label class="control-label-value">
                        {% if personnel.deceasedDate is not null %}
                            {{ personnel.dateOfBirth|time_span(personnel.deceasedDate) }}
                        {% else %}
                            {{ personnel.dateOfBirth|age }}
                        {% endif %}
                    </label>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Ts number :</label>
                    <label class="control-label-value">{{ personnel.tsNumber|default('N/A') }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label">Father's Name: </label>
                    <label class="control-label-value">{{ personnel.fathersName|default('N/A') }}</label>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Mother's Name: </label>
                    <label class="control-label-value">{{ personnel.mothersName|default('N/A') }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label">Regiment/Corps: </label>
                    <label class="control-label-value">{{ personnel.corp.name|default('N/A') }}</label>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Rank: </label>
                    <label class="control-label-value">{{ personnel.rank|default('N/A') }}</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label"><strong>Application Type : </strong></label>
                <div class="col-md-6">
                    {{ welfareFunds|raw }}
                </div>
                <div class="col-md-2">
                    <button class="btn green" id="btnGo" type="submit">Go</button>
                </div>
            </div>
        </form>
    </div>
</div>


