{% extends "@App/base.html.twig" %}
{% set pageTitle = 'Budget Allocation' %}
{% block page_title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}
    {% trans_default_domain 'SgDatatablesBundle' %}
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-list-page">
        <div class="col-sm-12">
            {% include '@App/layout-component/flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ pageTitle }} of Financial Year {{ budgetSummary.financialYear.label }}</span>
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="row">
                        <div class="fixed-header-table-container">
                            <table class="fixed-header-table table table-striped table-bordered table-hover table-header-fixed table-checkable order-column">
                                <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Code</th>
                                    <th>Account Head</th>
                                    <th>Request Amount for Budget {{ budgetYear }}-{{ budgetYear + 1 }}</th>
                                    <th>Sanction Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set sl = 1 %}
                                {% for parentHead in budgetHead %}
                                    <tr class="odd gradeX">
                                        <td colspan="5" style="background-color: #c1cbd0"><strong>{{ parentHead.titleEn }}</strong></td>
                                    </tr>

                                    {% for childHead in parentHead.child %}
                                        <tr class="odd gradeX">
                                            <td width="50">{{ sl }}</td>
                                            <td width="80">{{ childHead.code }}</td>
                                            <td>{{ childHead.titleEn }}</td>
                                            <td class="text-right" width="150">{{ budgetAmount['data'][childHead.id]['requestAmount']|default(0)|number_format(2) }}</td>
                                            <td class="text-right" width="150">{{ budgetAmount['data'][childHead.id]['sanctionAmount']|default(0)|number_format(2) }}</td>
                                        </tr>
                                        {% set sl = sl + 1 %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>

                                <tr>
                                    <th colspan="3"></th>
                                    <th class="text-right">{{ budgetAmount['total']['requestAmount']|default(0)|number_format(2) }}</th>
                                    <th class="text-right">{{ budgetAmount['total']['sanctionAmount']|default(0)|number_format(2) }}</th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="form-actions margin-top-20">
                        {% block workflow_content %}
                            <div class="row">
                                <div class="col-md-12 text-right">

                                    {% if is_granted('edit:budget_compilation:allocation_wait_for_clerk', budgetSummary) %}
                                        <a class="btn btn-primary" href="{{ path('budget_allocation', {id: budgetSummary.id}) }}">Set Allocation Amount</a>
                                    {% endif %}

                                    {% if 'allocation' in budgetSummary.status %}
                                    {% include '@Budget/CommonViewBlock/_workflow_action.html.twig' with {entity: budgetSummary, workflow_name: 'budget_compilation', entityClass: 'BudgetBundle:BudgetSummary', title: 'Budget Workflow'} %}
                                    {% endif %}
                                </div>

                                {% include '@Budget/CommonViewBlock/_workflow_comments.html.twig' with {remarks: budgetSummary.stepRemarks} %}

                            </div>
                        {% endblock workflow_content %}
                    </div>

                </div>
            </div>
        </div>

    </div>


    <!-- END PAGE CONTENT INNER -->
{% endblock %}

{% block include_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/budget/js/dasb_budget.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/tableHeadFixer.js') }}"></script>
{% endblock include_javascripts %}

{% block document_ready %}
    {{ parent() }}
    DASBBudget.updateInit();
    $('.fixed-header-table').tableHeadFixer({
        'z-index': 99
    });
{% endblock %}