{% extends "@App/base.html.twig" %}
{% set pageTitle = 'Budget Distribution' %}
{% block page_title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-list-page">
        <div class="col-sm-12">
            {% include '@App/layout-component/flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ pageTitle }} of Financial Year {{ budgetSummary.financialYear.label }}</span>
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="fixed-header-table-container">
                        <table class="fixed-header-table table table-striped table-bordered table-hover table-header-fixed table-checkable order-column">
                            <thead>
                            <tr>
                                <th>SL</th>
                                <th>Code</th>
                                <th>Account Head</th>
                                <th>FY {{ budgetYear }}-{{ budgetYear + 1 }}</th>
                                <th>Remaining Budget</th>
                                <th>Total</th>
                                {% for office in offices %}
                                    <th>{{ office.name }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% set sl = 1 %}
                            {% for parentHead in budgetHead %}
                                <tr class="odd gradeX">
                                    <td colspan="{{ offices|length + 7 }}" style="background-color: #c1cbd0"><strong>{{ parentHead.titleEn }}</strong></td>
                                </tr>

                                {% for childHead in parentHead.child %}
                                    <tr class="odd gradeX">
                                        <th width="50">{{ sl }}</th>
                                        <th width="80">{{ childHead.code }}</th>
                                        <th>{{ childHead.titleEn }}</th>
                                        <th class="text-right allocate-head-total" width="150">{{ budgetAmount[childHead.id]['sanctionAmount']|default('0')|number_format(2) }}</th>
                                        <th class="text-right distribute-head-remaining"></th>
                                        <th class="head-total distribute-head-total"></th>
                                        {% for office in offices %}
                                            <td class="text-center amount amount-{{ office.id }}" rel="{{ office.id }}">
                                                {{ dasbBudgetData['data'][office.id]['data'][childHead.id]['amount']|default('0')|number_format(2) }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    {% set sl = sl + 1 %}
                                {% endfor %}
                            {% endfor %}
                            </tbody>

                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="text-right allocate-head-grand-total"></th>
                                <th class="text-right distribute-head-grand-remaining"></th>
                                <th class="text-right distribute-head-grand-total"></th>
                                {% for office in offices %}
                                    <th class="text-right office-{{ office.id }}-total"></th>
                                {% endfor %}
                            </tr>
                        </table>
                    </div>

                    <div class="form-actions margin-top-20">
                        {% block workflow_content %}
                            <div class="row">
                                <div class="col-md-12 text-right">

                                    {% if is_granted('edit:budget_compilation:distribution_wait_for_clerk', budgetSummary) %}
                                        <a class="btn btn-primary" href="{{ path('budget_distribution', {id: budgetSummary.id}) }}">Distribute Budget Amount</a>
                                    {% endif %}

                                    {% if 'distribution' in budgetSummary.status %}
                                        {% include '@Budget/CommonViewBlock/_workflow_action.html.twig' with {entity: budgetSummary, workflow_name: 'budget_compilation', entityClass: 'BudgetBundle:BudgetSummary', title: 'Budget Workflow'} %}
                                    {% endif %}
                                </div>

                                {% include '@Budget/CommonViewBlock/_workflow_comments.html.twig' with {remarks: budgetSummary.stepRemarks} %}

                            </div>
                        {% endblock workflow_content %}
                    </div>

                </div>
            </div>
        </div>

    </div>


    <!-- END PAGE CONTENT INNER -->
{% endblock %}

{% block include_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/budget/js/basb_budget.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/tableHeadFixer.js') }}"></script>
{% endblock include_javascripts %}

{% block document_ready %}
    {{ parent() }}
    BASBBudget.budgetSanctionToDasbInit();

    $('.fixed-header-table').tableHeadFixer({
        "left" : 6,
        'z-index': 99
    });
{% endblock %}