<div class="row">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">Grant History</div>
        </div>
        <div class="portlet-body">

            {% if personnel.receivedFunds|length %}
                <table class="table table-striped table-bordered no-footer">
                    <thead>
                        <tr>
                            <th>Grant Name</th>
                            <th>Grant Amount</th>
                            <th>Grant Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for fund in personnel.receivedFunds %}
                        <tr>
                            <td>{{ loop.index }}. {{ fund.fundType|default('N/A') }}</td>
                            <td>{{ fund.amount|number_format() }}</td>
                            <td>{{ fund.date|date('d-m-Y')|default('N/A') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="row">
                    <div class="col-sm-12">
                        <label>No grant received so far</label>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    {% if application.note is not empty %}
        Note:
        <div class="col-sm-12">
            {{ application.note|raw }}
        </div>
    {% endif %}
</div>