{% extends "@App/base.html.twig" %}
{% set pageTitle = 'Welfare Dashboard' %}
{% block page_title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}
    <!-- BEGIN PAGE CONTENT INNER -->
    {% include '@App/layout-component/flash.html.twig' %}
    <div class="col-md-12">

            <div class="portlet box blue">

                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption">Welfare Management</span>
                    </div>
                </div>

                <div class="portlet-body">

                    <div class="row">

                        <div class="col-lg-2 col-md-4 col-xs-12">
                            <div class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-color-default uppercase">Ex personnel</div>
                                <p class="ribbon-content text-right">
                                    <a href="{{ path('ex_serviceman_list') }}" class="btn btn-success">View</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4 col-xs-12">
                            <div class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-color-default uppercase">BSCR Application</div>
                                <p class="ribbon-content text-right">
                                    <a href="{{ path('welfare_bscr_index') }}" class="btn btn-success">View</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4 col-xs-12">
                            <div class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-color-default uppercase">RECL Application</div>
                                <p class="ribbon-content text-right">
                                    <a href="{{ path('welfare_rcel_index') }}" class="btn btn-success">View</a>
                                </p>
                            </div>
                        </div>

                        {% if is_granted('ROLE_DASB_CLERK') or is_granted('ROLE_IO') or is_granted('ROLE_SECRETARY') %}
                        <div class="col-lg-2 col-md-4 col-xs-12">
                            <div class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-color-default uppercase">SKS Application</div>
                                <p class="ribbon-content text-right">
                                    <a href="{{ path('welfare_sks_index') }}" class="btn btn-success">View</a>
                                </p>
                            </div>
                        </div>
                        {% endif %}

                        <div class="col-lg-2 col-md-4 col-xs-12">
                            <div class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-color-default uppercase">Board Meetings</div>
                                <p class="ribbon-content text-right">
                                    <a href="{{ path('board_meetings_welfare') }}" class="btn btn-success">View</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        <div class="portlet box yellow">

            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption">Reports</span>
                </div>
            </div>

            <div class="portlet-body">

                <div class="row">

                    {% if is_granted('ROLE_WELFARE_CLERK') or is_granted('ROLE_DASB_CLERK') %}
                    <div class="col-lg-2 col-md-4 col-xs-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-color-default uppercase">Ex personnel</div>
                            <p class="ribbon-content text-right">
                                <a href="{{ path('personnel_report_personnel_ex_serviceman') }}"
                                   class="btn btn-success btn-sm">View Report</a>
                            </p>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>

    <!-- END PAGE CONTENT INNER -->
{% endblock %}